.header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: white;
  overflow-x: scroll;
}
.header_icon:hover >p{
  display: inline-flex;
}
.always-act > p{
  display: inline-flex !important;
}
.header::-webkit-scrollbar
{
  display: none;
}

.header_icon >p{
  text-transform: uppercase;
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-size: x-small;
}
.header_icon > .MuiSvgIcon-root
{
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
.header_icon{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 80px;
}

.header_icons{
  display: flex;
  align-items: center;
  text-align: center;
}
.header >img{
    object-fit: contain;
    height: 80px;
}