.videocard{
       color: white;
       width: 350px;
       height: 350px;
       padding: 20px;
       transition: transform 100ms ease-out;
       border-radius: 2px;
       cursor: pointer;
}
.videocard:hover{
    transform: scale(1.07);
}
.videocard >img{
    height: 200px;
    width: 350px;
    object-fit: contain;
}
.videocard_p{
   display: none; 
   padding: 5px;
}
.videocard:hover .videocard_p{
    display: inline;
}